.LandingSlide{
    max-width: 190rem;
    margin: 0 auto;
    width: 99%;
    height: 40rem;
    position: relative;
    padding: 8rem 0;
    display: flex;

    @media screen and (max-width: 56.25em){
        width: 95%;
    }

    & > :nth-child(2){
        transform: translateY(0) scale(1.1);
        animation: Landing .7s ease-out;
        animation-fill-mode: backwards;
    }
    & > :nth-child(1){
        transform: translateY(0) scale(.9);
        animation: LandingLeft .3s ease-out .4s;
        animation-fill-mode: backwards;

        @media screen and (max-width: 56.25em){
            display: none;
        }

    }
    & > :nth-child(3){
        transform: translateY(0) scale(.9);
        animation: LandingRight .3s ease-out .4s;
        animation-fill-mode: backwards;

        @media screen and (max-width: 56.25em){
            display: none;
        }
    }


    &_box{
        flex: 1;
        margin: 3rem;
        position: relative;
        border-radius: .5rem;
        overflow: hidden;
        transform: scale(.9);
        box-shadow: 0 0 2rem rgba(#393e41, .4);
        transition: all .3s ease-out;

        
        @media (hover: hover) {
            &:hover{
                transform: scale(1.1);
                box-shadow: 0 0 4rem rgba(#393e41, .6);
            }
    
            &:hover .LandingSlide__poster___img{
                position: relative;
                transform: scale(1.3) translateX(50%);
            }
            &:hover .LandingSlide__poster___overview{
                opacity: 0;
                visibility: none;
            }
        }

        
    }
    
    &__content{
        position: absolute;
        width: 90%;
        bottom: 5%;
        left: 0;
        padding: 0 1rem;
        // transform: translateX(-50%);
        // 
        // border-radius: .5rem;
        // box-shadow: 0 0 4rem rgba(#fff, .8);

        
    }
    &__poster{
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: flex-end;
        box-sizing: border-box;

        @media screen and (max-width: 31.25em){
            flex-flow: column wrap;
        }
        
        

        &___img{
            display: block;
            border-radius: .5rem;
            box-shadow: 0 0 4rem rgba(#fff, .8); 
            height: 16rem;
            margin-right: 2rem;
            transform-origin: bottom ;
            transition: all .3s ease-out;

            @media screen and (max-width: 56.25em){
                align-self: center;
                justify-self: center;
            }

            @media screen and (max-width: 31.25em){
                margin-right: 0;
                margin-bottom: 2rem;
            }
        }

        &___overview{
            flex: 1;
            color: #f8f4e3;
            transform: scale(.9);
            transition: all .3s ease-out;

            

            & h1{
                font-size: 2rem;
                font-weight: 600;
                margin-bottom: 1rem;
            }


            
        }
    }
}


@keyframes Landing {
    0% {
        opacity: 0;
        transform: translateY(4rem) scale(1.1);
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1.1);
    }
}

@keyframes LandingLeft {
    0% {
        opacity: 0;
        transform: translateX(8rem) scale(.9);
    }
    100% {
        opacity: 1;
        transform: translateX(0) scale(.9);
    }
}

@keyframes LandingRight {
    0% {
        opacity: 0;
        transform: translateX(-8rem) scale(.9);
    }
    100% {
        opacity: 1;
        transform: translateX(0) scale(.9);
    }
}